.category-navbar {
  background-color: #457b9d;
  font-weight: bold;
  border: 1px solid #457b9d;

  &__category-container {
    margin-left: auto;
    width: 50%;
    justify-content: space-between;
    align-items: center;

  }
}
