.primary-navbar {
  background-color: white;
  z-index: 99999;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  color: #25344F;

  &__link {
    @extend .is-uppercase;
    color: #25344F;
    &:hover {
      color: #25344F;
    }
  }
}