.primary-navbar {
  background-color: rgba(29, 53, 87, 0.87);
  margin: 0;
  position: fixed;
  width: 100%;

  &__searchbar{
    &__input {
      background-color: #102038;
      border-color: #102038;
      color: white;
    }

    &__input::placeholder {
      color: white;
    }

    &__input:hover {
      border-color: #102038;
    }
  }
}