.header {
  height: 50vh;
  //background-color: black;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  //background-attachment: fixed;

  &__overlay {
    margin-top: 52px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 52px);
    width: 100%;
    background: rgba(39, 30, 30, 0.79);
    z-index: 0;


    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

  }

  .background-container {
    height: 100%;
    position: relative;
    &__card {
      @extend .background-container;
      &__avatar {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
    &__card:first-child {
      background-color: #e63946;
    }
    &__card:nth-child(2) {
      background-color: #1d3557;
    }
    &__card:nth-child(3) {
      background-color: #a8dadc;
    }
    &__card:nth-child(4) {
      background-color: #f1faee;
    }
    &__card:nth-child(5) {
      background-color: #457b9d;
    }
  }
}
